<launch>
	<!-- bad way to link the master, this file will also launch a new core (unused) -->
	<env name="ROS_MASTER_URI"  value="http://10.0.0.11:11311"/>

	<!-- this line is for: ROS_NAMESPACE=cam_fhd rosrun image_proc image_proc -->
    <node name="image_proc" pkg="image_proc" type="image_proc" ns="cam_fhd"/>

	<!-- a node the read the joystick input and write it on a topic -->
	<node name="joystick_publisher" pkg="politocean" type="joystick_publisher.py" respawn="true"/>

	<!-- the main node of the GUI: it inits the GUI and ROV object -->
	<node name="mainGUI" pkg="politocean" type="mainGUI.py" required="true"/>

</launch>
